* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/background.jpg");
}

#welcome {
  text-align: center;
  margin: 1px;
  border: 5px solid black;
  background-color: rgba(250, 213, 165, 0.986);

}

#btnGo {
  font-size: 15px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}

.header {
  border: 15px solid rgb(126, 73, 73);
  background-color: rgb(250, 213, 165);
  text-align: center;
  font-size: 35px;
  font-family: Times, serif;
}

.got1 {
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
  border-left: 2px solid rgb(126, 73, 73);
  border-right: 2px solid rgb(126, 73, 73);
  padding-top: 15px;
  background-color: white;
}

#name {
  margin-left: 5px;
}

#adress {
  padding-left: 0px;
  margin-right: 18px;
}

.subBtn {
  margin-left: 200px;
  margin-right: 20px;
}

.got2 {
  border-left: 2px solid rgb(126, 73, 73);
  border-right: 2px solid rgb(126, 73, 73);
  padding: 5px;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

select {
  width: 150px;
}

.opt {
  overflow: visible;
  white-space: wrap;
  width: 100px;
}

.title {
  font-weight: bold;
}

.got3 {
  border-left: 2px solid rgb(126, 73, 73);
  border-right: 2px solid rgb(126, 73, 73);
  border-bottom: 2px solid rgb(126, 73, 73);
  padding: 5px;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

.pretty {
  font-style: italic;
}

#welcome {
  display: block;
 
}